{% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
{% extends 'HvjHenryJenkinsNameBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact Henry</h1>
    </header>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="henryjenkinsname-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="henryjenkinsname-error">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <p>Want to contact Henry?</p>

   <form action="{{ path('hvj_henry_jenkins_name_contact') }}" method="post" {{ form_enctype(form) }} class="henryjenkinsname">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}
        {{ form_widget(form.recaptcha, { 'attr': {
            'options' : {
                'theme' : 'clean',
            },
        } }) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>

{% endblock %}

